@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$magenta-palette,
        warn: mat.$red-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  color-scheme: light;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

.mat-toolbar[color="primary"] {
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);

  .mat-mdc-raised-button.mat-accent {
    background-color: var(--mat-sys-accent);
    color: var(--mat-sys-on-accent);
  }
}

.mat-column-show-product-description {
  width: px !important;
}

.mat-grid-tile {
  border: 1px solid #716f6f;
}