html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-ecommerce-header {
    .spacer {
        flex: 1 1 auto;
    }
}

.app-ecommerce-add-new-product {
    .show-images {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .remove-image-button {
        position: absolute;
        cursor: pointer;
        top: -10px;
        right: -10px;
        background-color: red;
        color: white;
        border-radius: 50%;
        width: 20px;
        height: auto;
        text-align: center;
    }

    .image-drag-n-drop-area {
        height: 150px;
        min-width: 100px;
        display: table;
        background-color: lightgrey;
        width: 300px;
        border: dashed 1px black;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .image-text-wrapper {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .image-browse-button {
        color: blue;
        cursor: pointer;
    }

    .button-container {
        display: flex;
        justify-content: flex-end;
    }
}

.app-ecommerce-display-product-images {
    .show-images-grid {
        margin-left: 25px;
        margin-right: 25px;
    }

    .show-images {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}
